nav.navbar {
    height: 35px !important;
    padding-left: 43%;
    margin:auto

}
nav{
position: fixed;
}
.fixed-top{
  background-color:#f3ebe4 ;
}
.vl {
  border-left: 2px solid #ebe3e2 ;
  height: 500px;
  left: 50%;
  margin-left: -3px;
  top: 0;
}
hr{
  width: 100px;
  translate: (100px,200px);
}
.lines{
  z-index: 3;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
    padding-left: 70px;
}

.icons img {
    padding-right: 50px; /* Adjust this value to set the desired space */
    align-items: center;
    justify-content: center;
    align-self: center;
}
.registerBtn{
    float: right; /* Align to the right */
    margin-right: 10px; /* Right margin */
    margin-top: 10px; /* Top margin */
    background-color: #f3ebe4;
}
.icons img:hover::after {
    content: attr(title);
    position: absolute;
    bottom: 100%;
    left: 30%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 10px;
    border-radius: 50%;
    z-index: 1;
    white-space: nowrap;
}


.logo {
    margin: auto !important;
    text-align: center !important;
}


body {
    font-family: Roboto Condensed, cursive;
    margin: 0;
    padding-top: 100px;
    background-color: #f3ebe4;
      overflow-x: hidden;
   padding-bottom: 100px;
  }
  .background-image1 {
    background-image: url('assets/background1.jpg'); 
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .background-image2{
    background-image: url('assets/background2.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
 
  }
  .noPadding{
    padding-right: 0;
  }
  .image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.honeyBath {
    z-index: 1; /* To place it above the background image */
}

.glow {
    z-index: 1; /* To place it above the honeyBath image */
    position: absolute;
  left: 1200px;
}

.container {
    position: relative; /* Set the container as relative to position child elements */
    z-index: 2; /* To place it above the images */
    padding: 20px; /* Adjust as needed */
}
  .background{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container1{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
  }
  .ingredients{
    margin: auto;
    background-color: #fff;
    /* justify-content: center;
    align-items: center;
    text-align: center; */
    height: 513px;
  }
  .container {
    max-width: 1250px; 
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; /* Spacing between the containers */
    position: relative; /* Set the container as relative to position child elements */
    z-index: 2; /* To place it above the images */
   
  }
 
 .sectionTitle{
    margin: auto;
    padding-top: 20px;
    left:50%;
    text-align:center;
    font-size: 40px;
      font-weight: bold;
      /* opacity: 0;
      transform: translateY(20px);
      transition: opacity 0.5s, transform 0.5s; */
    }

  

.info{
    padding-left: 100px;
}
.background p{
  margin: 20px;
  padding: 20px;
  background-color: #ebe3e2;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  text-align: justify;
}
 .background img{
  border-top-left-radius: 30%;
  border-top-right-radius: 10%;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 30%;
  display: flex;
 }
 .dropdown-menu {
  display: none;
}

#dropdownMenu:hover .dropdown-menu {
  display: block;
}
#skincareQuiz{
  text-align: center;
}
.underImg
{
  
  position: absolute;
  left: 1000px;
 
}
.background-image3{
 
  background-image: url('./border.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

}
.socialIcons img{
border-radius: 50%;
margin-right: 7px;
margin-bottom: 15px;
}
.feedbackSection{
  background-image: url('assets/background4.jpg');
  background-size: cover;
  background-position: center;
  border-top: 100px;
}
.carousel{
  height: auto;
  width: 410px;
  margin: auto;
}
  .social-icons{
    background-color: #fff;
  }
/* .carousel-item img {
  height: 100%; /* Adjust this value as needed */
  /* width: auto; */
  
  .form-select {
    width: 100%;
    max-width: 300px; /* Adjust as needed */
}
.form-label {
    font-weight: bold;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
 .footer {
  background-color: #f3ebe4; /* Light gray background color */
  padding: 20px 0; /* Add padding to top and bottom */
  text-align: center; /* Center-align text */
  position: fixed; /* Fix the footer at the bottom of the viewport */
  width: 100%; /* Make the footer span the entire width of the viewport */
  height: 55px;
  bottom: 0; /* Stick the footer to the bottom */
  z-index: 999; /* Set z-index to ensure it's above other content */
}


.footer .container {
  max-width: 1200px; /* Set maximum width for content within the footer */
  margin: 0 auto; /* Center content horizontally within the footer */
}

.footer .text-muted {
  color: #6c757d; /* Dark gray text color */
  font-size: 14px; /* Adjust font size */
} 
@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(calc(100% - 100vw)); }
}

.reviews-container {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.review {
  display: inline-block;
  width: 450px; /* Adjust width as needed */
  padding: 10px;
  margin-top: 50px; /* Adjust spacing between reviews */
  margin-right: 10px; /* Adjust spacing between reviews */
  border: 1px solid #ccc;
  animation: scroll 50s linear infinite; /* Adjust animation duration as needed */
}
#reviewCard {
  background-color: transparent;
  border: 1px solid white !important; 
  border-radius: 0; /* No border radius */
  box-shadow: none; /* No box shadow */
}
.fade-in {
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
}

.fade-in.active {
  opacity: 1;
}

